attrs==25.3.0
blinker==1.9.0
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
fire==0.7.0
Flask==3.1.1
fonttools==4.58.4
idna==3.10
imageio==2.37.0
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
lazy_loader==0.4
llvmlite==0.44.0
lxml==5.4.0
MarkupSafe==3.0.2
networkx==3.5
numba==0.61.2
numpy==2.2.6
opencv-python-headless==4.11.0.86
packaging==25.0
pdf2docx==0.5.8
pillow==11.2.1
platformdirs==4.3.8
pooch==1.8.2
PyMatting==1.1.14
PyMuPDF==1.26.1
python-docx==1.2.0
referencing==0.36.2
rembg==2.0.66
requests==2.32.4
rpds-py==0.25.1
scikit-image==0.25.2
scipy==1.15.3
termcolor==3.1.0
tifffile==2025.6.11
tqdm==4.67.1
typing_extensions==4.14.0
urllib3==2.5.0
Werkzeug==3.1.3
